<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eCommerce</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="logo">
          <a href="index.html">Logo</a>
        </div>
        <nav></nav>
        <a href="cart.html">charset</a>
        <a href="signin">Sign In</a>
      </header>
      <aside>Category</aside>
      <main class="main">
        <ul>
          <li>Product1</li>
          <li>Product2</li>
          <li>Product3</li>
          <li>Product4</li>
          <li>Product5</li>
        </ul>
      </main>
      <footer class="footer">All rights reserved</footer>
    </div>
  </body>
</html>
