<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eCommerce</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="logo">
          <a href="index.html">Logo</a>
        </div>
        <nav></nav>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main class="main">
        <div class="content">
          <ul class="products-list">
            <li>
              <div class="product-card">
                <img
                  class="product-card__image"
                  src="./images/1.jpeg"
                  alt="product1"
                />
                <div class="product-card__name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-card__brand">Nike</div>
                <div class="product-card__price">$60</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">All rights reserved.&nbsp; 2020&copy;</footer>
    </div>
  </body>
</html>
